<div class="top-bar">
  <div class="tabs">
    <a href="/home" class="tab">Home</a>
    <% if(isAuthenticated) {%>
    <a class="tab" href="/blogs/myblogs">My blog</a>
    <%}%>
  </div>
  <div class="logout">
    <% if(isAuthenticated) {%>
    <a href="/logout" id="logoutButton">Logout</a>
    <%} else {%>
    <a href="/login" id="logoutButton">Login</a>
    <%}%>
  </div>
</div>
